/*
Description: Additional CSS in Customizer for JanetSmithphotos.com
Author: Anne S. Katzeff
Author URI: https://www.askdesign.biz/
*/

/* --- Ninja Forms --- */
.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
    background-color: #6a8ee2 !important;
	background-color: #ce4c2a !important;
}

/* --- Modula --- */
.modula-fancybox-caption__text {
    font-size: 17px;
}

/* -- override front-end.css -- */
.wp-block-image {
    line-height: 0.6;
    margin-bottom: 1.2em;
}

/* -- media queries -- */
@media only screen and (max-width: 800px) {
	.wp-block-image .alignright,
	.wp-block-image .alignleft {
	    float: none;
	    margin: 0.5em auto 0.5em;
	}

}
